body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  background: #28a728;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

l1 {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  background: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

li button:hover {
  background: #c82333;
}

input[type="text"] {
  flex: 1;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-block-start: 5px;
  margin-right: 10px;
  font-size: 1em;
}
